﻿@using EPPLipigas.Entities.Colaborador.ViewModels
@model DetalleColaboradorEntregaVM

@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marketing Personal - Ficha</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        body {
            background: white;
        }
    </style>
</head>
<body>

    <style>

        .form-group {
            padding-left: 15px;
            padding-right: 15px;
        }

        label {
            font-weight: normal;
        }

        .font-weight-bold, .font-weight-bold label {
            font-weight: bold !important;
        }

        .bg-celeste {
            background-color: #cce5ff;
            padding: 16px 8px;
            margin-top: 16px;
        }

        .bg-light {
            padding-top: 16px;
            padding-bottom: 12px;
        }

        .font-20 {
            font-size: 20px;
            font-family: 'Oswald', sans-serif;
        }



        .col-lg-2 {
            width: 15.666666%;
            display: inline-block;
            vertical-align: top;
        }

        .col-lg-3 {
            width: 24%;
            display: inline-block;
            vertical-align: top;
        }

        .col-lg-4 {
            width: 32.333333%;
            display: inline-block;
            vertical-align: top;
        }

        .col-lg-5 {
            width: 40.666666%;
            display: inline-block;
            vertical-align: top;
        }

        .col-lg-6 {
            width: 49%;
            display: inline-block;
            vertical-align: top;
        }

        .col-lg-7 {
            width: 57.333333%;
            display: inline-block;
            vertical-align: top;
        }

        .col-lg-8 {
            width: 65.666666%;
            display: inline-block;
            vertical-align: top;
        }

        .col-lg-9 {
            width: 74%;
            display: inline-block;
            vertical-align: top;
        }

        .col-lg-10 {
            width: 82.333333%;
            display: inline-block;
            vertical-align: top;
        }

        .col-md-4 {
            width: 33.333333%;
            display: inline-block;
            vertical-align: top;
        }

        .col-md-3 {
            width: 24%;
            display: inline-block;
            vertical-align: top;
        }

        .col-md-6 {
            width: 49%;
            display: inline-block;
            vertical-align: top;
        }

        .col-md-9 {
            width: 74%;
            display: inline-block;
            vertical-align: top;
        }

        .col-md-12 {
            width: 99%;
            display: inline-block;
            vertical-align: top;
        }

        .saltoPagina {
            page-break-before: always;
        }

        .p {
            border-top-style: double;
        }

        .p1 {
            border-style: groove;
            border-width: 1px;
        }
        .estilodiv
        {
            background: yellow;
            color:white;

        }
    </style>


    <div class="col-lg-12 " style="border-color:#333;">
        <div class="row ">

            <div class="col-lg-3">
                <img src="image/lipigas.jpg">
            </div>
            <div class="col-lg-6">
 
                        <b @*class="mb-0 mt-8"*@ style="text-align: center; font-size: 230%; margin-left: 40px">EPPs-Personal Interno</b>
                      
                        <p @*class="mb-0 mt-8"*@ style="margin-left: 40px">Fecha de entrega : @Model.fecha_entrega</p>
        
            </div>

            <div class="col-lg-3">
                   <p @*class="mb-0 mt-2"*@>@Model.entidad</p>
                        <p @*class="mb-0 mt-2"*@>código: @Model.codigoacta</p>
             </div>

        </div>
    </div>
    <div class="col-lg-12 border pt-20 pb-20 pl-20 pr-20 p" style="border-color:#333;">


        <p style="text-align:center">Entrega de EPP</p>
        @*<div class="row">

            <div class="col-md-4">

            </div>
            <div class="col-lg-4 center-block ">

            </div>

        </div>*@
    </div>

    <div class="form-group">

        <div class="col-lg-12 p">
            <div class="row">

                <div class="col-lg-12">
                    <p>RESPONSABLE: Responsable que hace la entrega( @Model.responsable)</p>
                </div>


                <div class="col-lg-4">
                    <p>FECHA: @Model.fecha_entrega</p>
                </div>

            </div>

        </div>

        <div>
            <p>COLABORADOR</p>
        </div>
        <div class="col-lg-12 p">

            <div class="row" >

                <div class="col-lg-3 estilodiv ">
                    <p>NOMBRES</p>
                </div>
                <div class="col-lg-3 estilodiv">
                    <p>APELLIDOS</p>
                </div>

                <div class="col-lg-3">
                    <p>RUT</p>
                </div>
                <div class="col-lg-3 estilodiv">
                    <p>AREAS DE LAS EMPRESAS</p>
                </div>


            </div>


        </div>

        <div class="col-lg-12 p1">
            <div class="row">
                <div class="col-lg-3">
                    <p>@Model.colaborador_nombre</p>
                </div>
                <div class="col-lg-3">
                    <p>@Model.colaborador_apellido</p>
                </div>

                <div class="col-lg-3">
                    <p>@Model.rut_colaborador</p>
                </div>
                <div class="col-lg-3">
                    <p>@Model.area</p>
                </div>
            </div>

        </div>



    </div>

    <div>
        EPP
    </div> 



    <div class="form-group p">

        <div class="col-lg-12 ">
            <div class="row">
                <div class="col-lg-4 ">
                    <p>EPP</p>
                </div>
                <div class="col-lg-4">
                    <p>CLASIFICACIÓN</p>
                </div>
                <div class="col-lg-4">
                    <p>N° ELEMENTOS</p>

                </div>

            </div>
             
        </div>
        <div class="col-lg-12">
            <div class="row p1">
                @foreach (var item in Model.epps)
                {
                    <div class="col-lg-4 P1 estilodiv">
                        <p>@item.nombreEpp</p>
                    </div>
                    <div class="col-lg-4 P1 estilodiv">
                        <p>@item.clasificacion</p>
                    </div>
                    <div class="col-lg-4 P1 estilodiv">
                        <p>@item.cantidad</p>

                    </div>

                    
                }

            </div>


        </div>

    </div>

    <div>
        DECLARACIÓN
    </div>
    <div  class="p1">

       
                    <P>
                      Por la presente declaro haber recibido los EPP indicados en este documento en óptimas condiciones de funcionamiento. Asimismo entiendo los cuidados y
                        mantenimientos que debo realizar a los mismos.
                    </P>
             
    </div>

    @*<div>
        <table>
            <thead>
                <tr class="col-lg-12">

                    <th class="col-lg-4">EPP</th>
                    <th class="col-lg-4">EPP</th>
                    <th class="col-lg-4">cantidad</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.epps)
                {
                    <tr class="col-lg-12">
                        <th class="col-lg-4">@item.nombreEpp</th>
                        <th class="col-lg-4">@item.cantidad</th>
                    </tr>
                }
            </tbody>
        </table>
    </div>*@


</body>
</html>

