﻿
@{

    Layout = null;

    var url = "";
    if(ViewBag.ruta_documento != null)
    {

        url = ViewBag.ruta_documento;
    }
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EPP</title>
</head>
<body>    
    
    <iframe src="@url"   style="position:fixed; top:0; left:0; bottom:0; right:0; width:100%; height:100%; border:none; margin:0; padding:0; overflow:hidden; z-index:999999;"></iframe>
    
</body>
</html>
